html,
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--bs-gray-900);
	color: var(--white);
}

.modal {
	color: var(--black);
}

a {
	text-decoration: none;
	color: var(--bs-link-color);
}

.text-muted {
	color: var(--bs-gray-500) !important;
}

p.is-danger{
	color: var(--bs-danger)
}

form.standard-form input {
	max-width: 500px;
}

form.standard-form input.input-sm {
	max-width: 250px;
}

form.standard-form select {
	max-width: 500px;
}

form.standard-form .form-select.select-sm{
	max-width:250px;
}

:root {
	/* colors */
	--white: #fff;
	--black: #000;
	--primary: #931f1d;
	--spacing-small: 5px;
	--spacing-medium: 10px;
	--spacing-large: 25px;
}
