html,
body {
    font-family: 'Albert Sans', sans-serif;
    background-color: var(--bs-gray-900);
    color: var(--white);
}

* {
    font-family: 'Albert Sans', sans-serif;
}

.modal {
    color: var(--black);
}

.modal-title {
    color: var(--primary);
    font-weight: 900;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: var(--bs-link-color);
}

.text-muted {
    color: var(--bs-gray-500) !important;
}

p.is-danger {
    color: var(--bs-danger);
}

:root {
    /* colors */
    --white: #fff;
    --black: #000;
    --primary: #bc3737;
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 25px;
}

button {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

button.btn-secondary {
    background-color: var(--bs-gray-600) !important;
    border-color: var(--bs-gray-600) !important;
}

a {
    color: var(--primary) !important;
}

h1,
h2,
h3,
h4 {
    font-weight: 900;
}

.tooltip-inner-container {
    padding: 10px;
    text-align: start;
}

span.badge {
    font-weight: 400;
}

@media only screen and (max-width: 576px) {
    .mobile-remove {
        display: none !important;
    }
    .mobile-show {
        display: auto !important;
    }
}

@media only screen and (min-width: 576px) {
    .mobile-show {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    .tablet-remove {
        display: none !important;
    }
    .tablet-show {
        display: auto !important;
    }
}

@media only screen and (min-width: 992px) {
    .tablet-show {
        display: none !important;
    }
}

#offcanvasNavbar-expand {
    background-color: var(--primary);
}

#offcanvasNavbar-expand a.nav-link {
    background-color: var(--bs-gray-800);
    padding: 5px 15px;
    margin-bottom: 15px;
    color: var(--white) !important;
    border-radius: 5px;
}

#offcanvasNavbar-expand a.nav-link.active {
    background-color: var(--bs-gray-600);
}

#offcanvasNavbar-expand a {
    background-color: var(--bs-gray-800);
    color: var(--white) !important;
}

#offcanvasNavbar-expand button.btn-close {
    background-color: var(--white) !important;
}
