html,
body {
    font-family: 'Albert Sans', sans-serif;
    background-color: var(--bs-gray-900);
    color: var(--white);
}

* {
    font-family: 'Albert Sans', sans-serif;
}

.modal {
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--bs-link-color);
}

.text-muted {
    color: var(--bs-gray-500) !important;
}

p.is-danger {
    color: var(--bs-danger);
}

:root {
    /* colors */
    --white: #fff;
    --black: #000;
    --primary: #bc3737;
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 25px;
}

button {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

button.btn-secondary {
    background-color: var(--bs-gray-600) !important;
    border-color: var(--bs-gray-600) !important;
}

a {
    color: var(--primary) !important;
}

h1 {
    font-weight: 900;
}

@media only screen and (max-width: 576px) {
    .mobile-remove {
        display: none;
    }
    .mobile-show {
        display: auto;
    }
}

@media only screen and (min-width: 576px) {
    .mobile-show {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .tablet-remove {
        display: none;
    }
    .tablet-show {
        display: auto;
    }
}

@media only screen and (min-width: 992px) {
    .tablet-show {
        display: none;
    }
}
